<h1>Liste des pokemons et autres</h1>
    <!-- <p (click)="selectPokemon(pokemonlist[0])"> {{pokemonlist[0].name}}</p>-->
    <p>{{pokemonlist[1].name}}</p>
    <p>{{pokemonlist[2].name}}</p>
    <p>{{pokemonlist[3].name}}</p>
    <p>{{pokemonlist[4].name}}</p>
    <p>{{pokemonlist[5].name}}</p>
    <p>{{pokemonlist[6].name}}</p>
    <p>{{pokemonlist[7].name}}</p>
    <p>{{pokemonlist[8].name}}</p>
    <p>{{pokemonlist[9].name}}</p>
    <p>{{pokemonlist[10].name}}</p>
    <p>{{pokemonlist[11].name}}</p>
    <!--on veut recuperer le numero qu'on encode dans l'input pour pouvoir afficher un des pokemon
    <input type="text" placeholder="value" id="inputvalue" 
    (click)="selectPokemon($event)"/>-->
    <p>une autre maniere de recuperer la valeur avec une variable declarée dans le template html ici</p>
    <input #inputs (keyup)="0" type="text" placeholder="input here"  
    />
    <p>{{inputs.value}}</p>
    <p>une autre maniere de recuperation de la valeur pour afficher le nom d'un pokemon</p>
    <input  #inputsecond (keyup)="selectPokemon(inputsecond.value)" type="number" 
    />
    <!-- ? : si le pokemonselected n'est pas defini, il ne vas pas generer d'erreur-->
    <p>vous avez selectionner le pokemon: {{Pokemonselected?.name}}</p>
    <p>comment utiliser keyup.enter | donc là , il va afficher quelques choses lorsque le user tapera sur la touche enter </p>
    <input  #inputthird (keyup.enter)="selectPokemon(inputthird.value)" type="number" 
    />
    <!-- ? : si le pokemonselected n'est pas defini, il ne vas pas generer d'erreur-->
    <p>vous avez selectionner le pokemon: {{Pokemonselected?.name}}</p>
    <p></p>
    <p><b>utilisation de = NgIf (ex: *ngif)</b></p>
    <input  #inputfour (keyup.enter)="selectPokemon(inputfour.value)" type="number" 
    />
    <p *ngIf="Pokemonselected"> vous avez selectionné le pokemon: {{Pokemonselected.name}}</p>
    <!--ça n'existe pas -->
    <p *ngIf="!Pokemonselected" >Aucun pokémon n a été trouvé pour le  moment</p>
    <!--ngfor-->

     <p><b>*ngFor:</b> c'est pour boucler</p> 
     <p *ngFor="let pokemon__ of pokemonlist"> {{pokemon__.name}}</p> -->
     <p> </p>
     <div class ="container" >
        <div class ="row" >
           <!-- la row definit par materialize est de 12 de large  par ligne -->
            <!-- je mets col m4 => parceque 12/4 =3 cvd 3 par ligne  -->
             <!-- s6 : cvd si l'ecran est petit s6 =>12/6=2 =>cvd 2 par ligne  -->
           <div *ngFor="let pokemon__ of pokemonlist" class="col m4 s6" > 
               <div class="card horizontal">
                    
                   <div class="card-image">
                        <img src={{pokemon__.picture}} />
                    </div>  
                    
                    <div class="card-stacked">
                        <div class="car-content">
                           <p><b>{{pokemon__.name}}</b></p>
                           <p>{{pokemon__.created}}</p>
                           <p>(CEST)</p>
                        </div>
                   </div>
                   
                   
               </div>
              
          </div> 
       
       </div>
    
    </div>

  